/*ESTILIZAÇÃO DAS CITAÇÕES NA PAGINA SOBRE MIM.*/
.container > p::first-letter {
    font-size: 200%;
    font-weight: bold;
    color: #3C1D3D;
    text-shadow: 1px 1px #000;
    margin-right: .2ch;
    line-height: 1;
}
.citacao-bio {
    background-color: #D9E5E3;
    border: .5em solid #C2CCCA;
    padding: 1em;
    margin: 1em 2em;
    width: 30ch;
    box-sizing: border-box;
}
.citacao-bio:hover {
    box-shadow: 0 0 0 99999px rgba(0,0,0,.8);
}
.citacao-bio:hover, .citacao-bio:focus {
    box-shadow: 0 0 0 99999px rgba(0,0,0,.8);
}
.citacao-bio:nth-of-type(even) {
    float: left;
    margin-left: 0;
}
.citacao-bio:nth-of-type(even):hover {
    transform: scale(1.2) rotate(-5deg);
}
.citacao-bio:nth-of-type(even):hover, .citacao-bio:nth-of-type(even):focus {
    transform: scale(1.2) rotate(-5deg);
}
.citacao-bio:nth-of-type(odd) {
    float: right;
    margin-right: 0;
}
.citacao-bio:nth-of-type(odd):hover {
    transform: scale(1.2) rotate(5deg);
}
.citacao-bio:nth-of-type(odd):hover, .citacao-bio:nth-of-type(odd):focus {
    transform: scale(1.2) rotate(5deg);
}
.citacao-bio::before {
    content: '“';
    position: absolute;
    font-size: 10em;
    color: #bbb;
    line-height: .8
}
.citacao-bio > p {
    position: relative;
}
/*ESTILIZANDO A TABELA*/
table{
    border-collapse: separate;
    border-spacing: 5px;
}
th{
    background-color: red;
    border: 5px solid black;
}
td{
    background-color: blue;
    border: 5px solid black;
}
