/*ESTILIZAÇÃO DO FORMULÁRIO*/
legend, label[for="msg"]{
	font-weight: bold;
	margin-top: 1em;
}
label[for]{
	display: block;
}
input[type="text"], input[type="email"], textarea{
	font-family: inherit;
	font-size: 100%;
	padding: .25em .5em;
	width: 100%;
	box-sizing: border-box;
	border: 1px solid #ccc;
}
input:focus, textarea:focus{
	background-color: #FFD;
}
input:invalid{
	box-shadow: 0 0 3px red;
}
button{
	border: 0;
	padding: .5em 1em;
	font-family: "Open Sans Condensed", sans-serif;
	background-color: #3C1D3D;
	color: white;
	font-size: 1.25em;
	margin-left: auto;
	margin-top: 1em;
}
button:hover, button:focus{
	background-color: #8C1D3D;
}
label[for="nome"]{
	position: relative;
}
label[for="nome"]:after{
	content: "";
	background-image: url(../imagens/usuario.png);
	position: absolute;
	top: 100%;
	left: 0;
	background-size: 50% 50%;
	width: 2em;
	height: 2em;
	background-position: center;
	background-color: #666;
	background-repeat: no-repeat;
}
#nome{
	width: calc(100%-2em);
	position: relative;
	left: 2em;
}
label[for="email"]{
	position: relative;
}
label[for="email"]::after{
	content: "";
	background-image: url(../imagens/email.png);
	position: absolute;
	top: 100%;
	left: 0;
	background-size: 50% 50%;
	width: 2em;
	height: 2em;
	background-position: center;
	background-color: #666;
	background-repeat: no-repeat;
}
#email{
	width: calc(100%-2em);
	position: relative;
	left: 2em;
}