/*ESTILIZAÇÃO DA PAGINA PORTFOLIO.*/
.portfolio li {
    display: inline-block;
    border: .5em solid black;
    background-color: #FAFFFC;
    width: 45%;
    box-sizing: border-box;
    padding: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    box-shadow: 0 0 4px #000;
}

.portfolio img {
    width: 100%;
}
