/*ESTILIZAÇÃO GERAL DA PAGINA.*/
body {
    font-family: "Crimson Text", "Times New Roman", serif;
    background-color: #F2FFFC;
    font-size: 120%;
    line-height: 1.5;
}
/*MAIN, PARÁGRAFOS E LINKS a.*/
main {
    width: calc(100% - 0.9*300px);
    float: left;
    padding-bottom: 4em;
}
main a {
    color: #851944;
}
main a:hover, main a:focus{
    color: red;
}
main p {
    text-align: justify;
    margin: 1em 0;
}
/*CONTAINER.*/
.container {
    width: 80ch;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em 0;
}
/*FONTE H1 E H2*/
h1, h2,.subtitulo-principal {
    font-family: "Open Sans Condensed", "Arial", sans-serif;
}
/*CONFIGURAÇÃO GERAL DOS H1 DA PAGINA.*/
h1 {
    text-transform: uppercase;
    font-size: 3em;
    text-shadow: 2px 2px #000;
}
/*CONFIGURAÇÃO GERAL DO TITULO PRINCIPAL DA PAGINA.*/
.titulo-principal {
    text-align: center;
    background-color: #851944;
    color: #FFF;
    padding: 2rem;
    border-bottom: .5rem solid #000;
}
/*CONFIGURAÇÃO GERAL DO SUBTITULO DA PAGINA.*/
.subtitulo-texto {
    font-size: 1.5em;
    clear: both;
}
/*CONFIGURAÇÃO DAS TAGS strong E em.*/
strong {
    font-weight: bold;
}
em {
    font-style: italic;
}
/*CONFIGURAÇÃO DA FOTO*/
.minha-foto {
    position: absolute;
    top: 0;
    right: 0;
    height: 300px;
}
/*ESTILIZAÇÃO COMPOSTA DA FOTO E DA NAVEGAÇÃO ENTRE AS PAGINAS INTERNAS.*/
.minha-foto, .navegacao-site {
    border-left: .5em solid black;
    border-bottom: .5em solid black;
    box-sizing: border-box;
}
/*ESTILIZAÇÃO DO BOX DAS PAGINAS INTERNAS E REDES SOCIAIS.*/
.navegacao-site {
    text-align: center;
    background-color: #3C1D3D;
    color: #F2FFFC;
    padding: 1em;
    width: calc(0.9 * 300px);
    float: right;
    position: relative;
    top: 300px;
}
.navegacao-site a {
    color: inherit;
    font-family: "Open Sans Condensed", "Arial", sans-serif;
    text-transform: lowercase;
}
.navegacao-site a:hover, .navegacao-site a:focus {
    text-shadow: 0 0 2px pink;
}
.navegacao-site h1 {
    font-size: 1.5em;
    margin-bottom: 1em;
}
.icones-redes-sociais li {
    display: inline-block;
}
.icones-redes-sociais a {
    width: 40px;
    height: 40px;
    display: block;
    text-indent: -99999px;
    position: relative;
}
.icones-redes-sociais a:hover::after, .icones-redes-sociais a:focus::after {
    content: attr(data-tooltip);
    position: absolute;
    top: 100%;
    right: 0;
    text-indent: 0;
    width: 300%;
    background: black;
    font-size: .75em;
}
.icones-redes-sociais a:hover::before, .icones-redes-sociais a:focus::before {
    content: '';
    width: 1em;
    height: 1em;
    background-color: black;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(.5em) rotate(45deg);
}
.github {
    background-image: url(../imagens/github.png);
}

.twitter {
    background-image: url(../imagens/twitter.png);
}

.linkedin {
    background-image: url(../imagens/linkedin.png);
}
/*RODAPÉ.*/
.rodape-pagina {
    background-color: #000;
    color: #F2FFFC;
    padding: 1em;
    clear: both;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.8);
}
footer a:hover, footer a:focus {
    color: red;
}